player-connection-mode=Listen
player-connection-guid=2186029608
player-connection-debug=0
player-connection-project-name=Glyde Skate 
player-connection-ip=192.168.56.1
player-connection-ip=192.168.1.27
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=b79291e00629401ea92ca60e03e7ac6a
